[submodule "meetingcpp2015"]
	path = meetingcpp2015
	url = https://github.com/SuperV1234/meetingcpp2015
[submodule "cppcon2015"]
	path = cppcon2015
	url = https://github.com/SuperV1234/cppcon2015
[submodule "linuxDay2013"]
	path = linuxDay2013
	url = https://github.com/SuperV1234/linuxDay2013
[submodule "itcpp2015"]
	path = itcpp2015
	url = git://github.com/SuperV1234/itcpp2015
[submodule "Tutorials"]
	path = Tutorials
	url = git://github.com/SuperV1234/Tutorials
[submodule "linuxDay2014"]
	path = linuxDay2014
	url = https://github.com/SuperV1234/linuxDay2014
[submodule "cppcon2014"]
	path = cppcon2014
	url = https://github.com/SuperV1234/cppcon2014
[submodule "cppnow2015"]
	path = cppnow2015
	url = https://github.com/SuperV1234/cppnow2015
[submodule "cppnow2016"]
	path = cppnow2016
	url = https://github.com/SuperV1234/cppnow2016
[submodule "cppcon2016"]
	path = cppcon2016
	url = https://github.com/SuperV1234/cppcon2016.git
[submodule "meetingcpp2016"]
	path = meetingcpp2016
	url = https://github.com/SuperV1234/meetingcpp2016
[submodule "cpplondon"]
	path = cpplondon
	url = https://github.com/SuperV1234/cpplondon
[submodule "accu2017"]
	path = accu2017
	url = https://github.com/SuperV1234/accu2017
[submodule "cppnow2017"]
	path = cppnow2017
	url = https://github.com/SuperV1234/cppnow2017.git
[submodule "meetingcpp2017"]
	path = meetingcpp2017
	url = https://github.com/SuperV1234/meetingcpp2017.git
[submodule "accu2018"]
	path = accu2018
	url = https://github.com/SuperV1234/accu2018.git
[submodule "itcpp2018"]
	path = itcpp2018
	url = https://github.com/SuperV1234/itcpp2018.git
[submodule "cppnow2018"]
	path = cppnow2018
	url = https://github.com/SuperV1234/cppnow2018
[submodule "cpponsea2019"]
	path = cpponsea2019
	url = https://github.com/SuperV1234/cpponsea2019
[submodule "accu2019"]
	path = accu2019
	url = https://github.com/SuperV1234/accu2019.git
[submodule "cpprussia2019"]
	path = cpprussia2019
	url = https://github.com/SuperV1234/cpprussia2019.git
[submodule "cppnow2019"]
	path = cppnow2019
	url = https://github.com/SuperV1234/cppnow2019.git
[submodule "cppcon2019"]
	path = cppcon2019
	url = https://github.com/SuperV1234/cppcon2019
[submodule "cppcon2021"]
	path = cppcon2021
	url = https://github.com/SuperV1234/cppcon2021
[submodule "cppnow2021"]
	path = cppnow2021
	url = https://github.com/SuperV1234/cppnow2021
[submodule "accu2021"]
	path = accu2021
	url = https://github.com/SuperV1234/accu2021
[submodule "ndctechtown2020"]
	path = ndctechtown2020
	url = https://github.com/SuperV1234/ndctechtown2020
[submodule "accu2022"]
	path = accu2022
	url = https://github.com/vittorioromeo/accu2022
[submodule "corecpp2022"]
	path = corecpp2022
	url = https://github.com/vittorioromeo/corecpp2022
[submodule "cppcon2022"]
	path = cppcon2022
	url = https://github.com/vittorioromeo/cppcon2022
