[submodule "meetingcpp2015"]
	path = meetingcpp2015
	url = https://github.com/SuperV1234/meetingcpp2015
[submodule "cppcon2015"]
	path = cppcon2015
	url = https://github.com/SuperV1234/cppcon2015
[submodule "linuxDay2013"]
	path = linuxDay2013
	url = https://github.com/SuperV1234/linuxDay2013
[submodule "itcpp2015"]
	path = itcpp2015
	url = git://github.com/SuperV1234/itcpp2015
[submodule "Tutorials"]
	path = Tutorials
	url = git://github.com/SuperV1234/Tutorials
[submodule "linuxDay2014"]
	path = linuxDay2014
	url = https://github.com/SuperV1234/linuxDay2014
[submodule "cppcon2014"]
	path = cppcon2014
	url = https://github.com/SuperV1234/cppcon2014
[submodule "cppnow2015"]
	path = cppnow2015
	url = https://github.com/SuperV1234/cppnow2015
[submodule "cppnow2016"]
	path = cppnow2016
	url = https://github.com/SuperV1234/cppnow2016
[submodule "cppcon2016"]
	path = cppcon2016
	url = https://github.com/SuperV1234/cppcon2016.git
[submodule "meetingcpp2016"]
	path = meetingcpp2016
	url = https://github.com/SuperV1234/meetingcpp2016
[submodule "cpplondon"]
	path = cpplondon
	url = https://github.com/SuperV1234/cpplondon
